@charset "utf-8";

#topMessage {
	vertical-align: middle;
}

html {
	overflow: hidden;
}
.ui-widget, .ui-widget .ui-widget {
font-size: 1.em !important;
}
h1 {
	color: black;
	text-decoration: underline;
	
}


.logo {
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}




.logo:hover {
	opacity: 0.8;
}


header {
	
	padding: 0;
	padding-left: 10px;
	margin: 0;
	position: absolute;
	left: 10px;
	right: 10px;
	overflow: visible !important;
	color: #000000;
	border: none;
	background-color: #F0F0F0;
	
	;
}

header > div {
	margin-left: 5px
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	;
}



.rotulo {
	width: 150px;
}


#login-dialog {
	width: 260px;
	margin: auto;
	margin-top: 150px;
}
/* Menu sistema inicio */
.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}

.menu-sistema .ui-menu-parent>a .ui-menuitem-text,.menu-sistema>.ui-menu-list>.ui-menuitem>a>.ui-menuitem-text
	{
	color: navy !important;
}

.ui-toolbar {
	margin-top: none;
}


.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
	width: 100%;
}

/* Definição de estilos para linha de cabeçalho da tabela*/
.cabecalho {
	text-align: center;
	font: 11px Arial, sans-serif;
	font-weight: bold;
	color: Snow;
	background: #008B45;
}



/* Panel Grid */
.ui-panelgrid {
	margin-top: 15px;
	height: 34px;
	padding: 0px;
	background: #fefeef;
	border: none !important;
}

.ui-panelgrid tr {
	top: 10px !important;
	border: none !important;
	background: #fefeef;
}

.ui-panelgrid td {
	border: none !important;
	background: #fefeef;
}
/* Panel Grid*/
a:link,a:visited,a:hover,a:active {
	color: black;
}

.ui-outputlabel {
	font-weight: bold;
	top: 10px;
	bottom: 10px;
}

.menuButton {
	font-weight: bold;
	font-size: 10px;
	top: 10px;
	bottom: 10px;
}

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url("#{resource['images:ui-icons_cccccc_256x240.png']}"); }
.ui-widget-content .ui-icon {background-image: url("#{resource['images:ui-icons_292cd1_256x240.png']}"); }
.ui-widget-header .ui-icon {background-image: url("#{resource['images:ui-icons_292cd1_256x240.png']}"); }
ui-state-default .ui-icon  {background-image: url("#{resource['images:ui-icons_292cd1_256x240.png']}"); }

----------------------------------*/


.ui-widget-content .ui-state-blur{
	background-color:#ffffff;
}

.ui-widget-content .ui-state-focus{
	background-color:#cccccc;
}
/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

.botao-salvar .ui-icon-disk {
	
	background:  url("#{resource['images:ok.png' ]}") no-repeat;

}
.botao-salvar:hover {
	background-color: #ccc;
}

.botao-pesquisa .ui-icon-search {
	background: url("#{resource['images:search.png' ]}") no-repeat;
}

.botao-sair .ui-icon-extlink {
	background: url("#{resource['images:exit.png' ]}") no-repeat;
	
	
}


.botao-ajuda .ui-icon-help{
	background:  url("#{resource['images:help.png' ]}") no-repeat;

	
}
.botao-casa .ui-icon-home {
	background: url("#{resource['images:home.png' ]}") no-repeat;
	
	
}
.botao-novo .ui-icon-plusthick {
	background: url("#{resource['images:edit_add.png' ]}") no-repeat;
	
	
}

#divTop {
	padding: 0;
	padding-left: 10px;
	margin: 0;
	position: absolute;
	top: 125px;
	left: 10px;
	right: 10px;
	overflow: visible !important;
	color: #000000;
	border: none;
	background-color: #F0F0F0;
	;
}


/* Aqui muda a Formatação (fonte, tamanho de todo o centro)  */
#divMain {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 110px;
	left: 10px;
	right: 10px;
	bottom: 35px;
	overflow: auto !important;
	border: thin solid lightGray;
	background: #fefeef;
}


 

#divFooter {
	padding-left: 10px;
	margin: 0;
	left: 10px;
	right: 10px;
	bottom: 20px;
	overflow: auto;
	border: thin solid lightGray;
	background: #fefeef;
	position: absolute;
}

/* Alinha no Centro da Tela */
.centro {
	position: absolute;
	width: 350px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-left: -175px;
	margin-top: -150px;
}

.ajax-status {
	position: fixed;
	top: 60px;
	right: 20px;
	width: 60px;
	padding: 10px;
	height: 50px
}

.up {
	text-transform: uppercase;
}


#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

/*load der Arquivo*/
#formUpload .cancel {
	display: none;
}

#formUpload .start {
	display: none;
}

.table {
	border-collapse: collapse;
}

.tableColumnsHeader {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.tableFirstLine {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}

.tableNextLine {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}